  <div class="app">
    <div class="btn-group" style="display: block;">
      <label for="lines">How Many Lines Would You Like?</label>
      <input class="lineinput" type="text" ng-model="$ctrl.lines">
      <button type="button" ng-click="$ctrl.onClick()">Click To Generate A New Poem</button>
      <button type="button" ng-click="$ctrl.save()">Click To Save The Current Poem</button>
      <label for="email">Enter Your Email to Receive the Archive:</label>
      <input class="emailinput" type="text" ng-model="$ctrl.email">
      <button type="button" ng-click="$ctrl.retrieve()">Submit</button>
    </div>
    <div>
      <poem-container poem="$ctrl.poem"></poem-container>
    </div>
</div>