  <div class="app">
    <div class="btn-group" style="display: block;">
      <label for="lines">How Many Lines Would You Like?</label>
      <input type="text" ng-model="$ctrl.lines">
      <button type="button" ng-click="$ctrl.onClick()">Click To Generate Your Poem</button>
      <button type="button" ng-click="$ctrl.save()">Click To Save This Poem</button>
      <button type="button" ng-click="$ctrl.retrieve">Click To See Saved Poems</button>
    </div>
    <div>
      <poem-container poem="$ctrl.poem"></poem-container>
    </div>
</div>